**/.DS_Store
**/Africa.png
**/Asia.png
**/Caribbean.png
**/Central_America.png
**/Central_Asia.png
**/Eastern_Asia.png
**/Europe.png
**/North_America.png
**/Oceania.png
**/South_America.png
**/Southern_Asia.png
**/Western_Asia.png
**/world.png
